<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8" />
  <title>GitHub Stargazer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9" data-require="angular.js@1.4.x"></script>
</head>

<body ng-controller="MainCtrl">
  <div class="container">

    <br>

    <div class="jumbotron">
      <h2>
		  <a href="https://github.com"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
		  GitHub Stargazer
	  </h2>
      <p>Have you starred these repos?</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Star all!</a></p> -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="username" 
          placeholder="Enter your GitHub username to check if you have starred these repos"
          ng-keypress="go($event);"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="go();">Go!</button>
          </span>
        </div>
      </div>
    </div>

    <br>

    <ul class="list-group">
      <li ng-repeat="repo in repos" class="list-group-item">
        <div class="row">
          <div class="col-md-1 col-sm-2 col-xs-4">
            <a class="thumbnail" style="margin-bottom:0px;">
              <img src="{{imageMap[repo]}}">
            </a>
          </div>

          <div class="col-md-11 col-sm-10 col-xs-12">
            <h4>
              {{repo}}      
              <span class="pull-right">
                <a><span class="glyphicon" ng-class="starredMap[repo] ? 'glyphicon-star' : 'glyphicon-star-empty'"></span></a>
                <a href="{{urlPrefix+repo}}"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
              </span>
            </h4>
            <span>{{urlPrefix+repo}}</span>
          </div>
        </div>
      </li>
    </ul>

  </div>

  <script language="javascript">
    //references
    //https://developer.github.com/v3/activity/starring
    //https://developer.github.com/v3/#http-verbs

    var app = angular.module('myApp', []);

    app.controller('MainCtrl', function($scope, $http) {

      //todo: property file, auth & star, star all, repo detail

      $scope.repos = [
        "lianliu/LianBlog",
        "lianliu/SF-Muni",
        "lianliu/lianliu.github.io",
        "lianliu/mean_practice",
        "lianliu/DEBS2016",
        "S1ngS1ng/HammerSpoon",
        "Zhou42/WeatherRadar",
        "OliviaLiyuanWei/Foodtastic-e-foodstore-website",
        "gjk0090/react-dashboard",
        "haolin29/AppStoreReactMeteor",
        "zlpmichelle/BigCompression",
        "zlpmichelle/BigAkka",
        "zlpmichelle/BigGen",
        "zlpmichelle/BigMachineLearning",
        "zlpmichelle/BigValue",
        "zlpmichelle/blog",
        "hackjutsu/Github-Ranking-FrontEnd",
        "hackjutsu/HeroCardGenerator",
        "macctown/node-shop.com",
        "starwavelin/SimpleCarInsuranceWeb",
        "novelidea/SinaMicroBlog-iWatch",
        "fyfyzzk/tinyurl",
        "x1angli/convert2utf",
        "x1angli/regional-ip-addresses",
        "InCodeLearning/InCodeLearning",
        "JesseZhuang/Tiger-AppStore",
        "gaohailang/node-party-gf-security-practice",
        "gaohailang/blog",
        "gjk0090/repo-star-checker"
      ];

      $scope.repos.sort();

      $scope.urlPrefix = "https://github.com/";

      $scope.starredMap = {};

      //extract user list
      $scope.userList = [];
      angular.forEach($scope.repos, function(repo, index) {
        var user = repo.split("/")[0];
        if ($scope.userList.indexOf(user) >= 0) {
          return;
        }
        $scope.userList.push(user);
      });

      //get all user image
      $scope.imageMap = {};
      angular.forEach($scope.userList, function(user, index) {

        var url = "https://api.github.com/users/" + user;
        $http({
          method: "GET",
          url: url
        }).then(function mySucces(response) {
          var image = response.data.avatar_url;

          angular.forEach($scope.repos, function(repo, index2) {
            var repo_user = repo.split("/")[0];
            if (repo_user === user) {
              $scope.imageMap[repo] = image;
            }
          });
        }, function myError(response) {

        });

      });

      $scope.go = function(ev) {
        if(!!ev && ev.keyCode !== 13){return;}
        if(!$scope.username){$scope.starredMap = {};return;}
        
        var url = "https://api.github.com/users/" + $scope.username + "/starred?per_page=999";

        $http({
          method: "GET",
          url: url
        }).then(function mySucces(response) {
          $scope.starredMap = $scope.transformStarredList(response.data);
        }, function myError(response) {
          $scope.starredMap = {};
          $scope.errMsg = response.statusText;
          alert("Error : " + $scope.errMsg);
        });
      }


      $scope.transformStarredList = function(starredList) {
        var outputMap = {};
        if (!starredList) {
          return outputMap;
        }
        angular.forEach(starredList, function(repo, index) {
          outputMap[repo.full_name] = true;
        });
        return outputMap;
      }

    });
  </script>

</body>

</html>
